numpy>=1.16.0
scipy
matplotlib
scikit-image>=0.14
scikit-learn
jupyter==1.0.0
tqdm
Pillow
ipyparallel
trimesh
glob2
h5py>=2.10
PyYAML
joblib
tensorboardX
pylzma
k3d==2.7
numpy-quaternion
pandas
numba==0.41.0